openapi: 3.0.1
info:
  title: Weatherbit - Interactive Swagger UI Documentation 16 Day / Daily Forecast 60 Minute Rain/Snow Nowcast API
  description: This an interactive version of the documentation for the Weatherbit API.  The base URL for the API is [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/) or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/). Below is the Swagger UI documentation for the API. All API requests require the `key` parameter.        An Example for a 48 hour forecast for London, UK would be `http://api.weatherbit.io/v2.0/forecast/hourly?lat=51.5072`&`lon=-0.1276`. See our [Weather API description page](https://www.weatherbit.io/api) for the full documentation.
  version: 2.0.0
servers:
- url: https://api.weatherbit.io/v2.0
- url: http://api.weatherbit.io/v2.0
tags:
- name: 60 Minute Rain/Snow Nowcast
paths:
  /forecast/minutely:
    get:
      tags:
      - 60 Minute Rain/Snow Nowcast
      summary: Weatherbit Returns a 60 Minute Precipitation Forecast - Given Lat/Lon.
      description: Returns a 60 minute precipitation forecast, where each point represents one minute (1 min) period.
      parameters:
      - name: lat
        in: query
        description: Latitude component of location.
        schema:
          type: number
          format: double
        example: 22.12
      - name: lon
        in: query
        description: Longitude component of location.
        schema:
          type: number
          format: double
        example: 91.76
      - name: city_id
        in: query
        description: 'City ID. Example: 4487042'
        schema:
          type: string
          format: string
        example: Kansas City
      - name: city
        in: query
        description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
        schema:
          type: string
          format: string
        example: Kansas City
      - name: postal_code
        in: query
        description: 'Postal Code. Example: 28546'
        schema:
          type: string
          format: string
        example: example-value
      - name: country
        in: query
        description: Country Code (2 letter) - to be used with postal_code.
        schema:
          type: string
          format: string
        example: US
      - name: station
        in: query
        description: Station Call ID.
        schema:
          type: string
          format: string
        example: example-value
      - name: units
        in: query
        description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
        schema:
          type: string
          format: string
          enum:
          - S
          - I
        example: S
      - name: key
        in: query
        description: Your registered API key.
        required: true
        schema:
          type: string
          format: string
        example: abc123xyz
      responses:
        '200':
          description: A forecast object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMinutely'
        default:
          description: No Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    FCMinutely:
      type: object
      properties:
        city_name:
          type: string
          description: City Name
          example: Raleigh
        state_code:
          type: string
          description: State Abbreviation
          example: NC
        country_code:
          type: string
          description: Country Abbreviation
          example: US
        lat:
          type: number
          description: Latitude
          example: 38.25
        lon:
          type: number
          description: Longitude
          example: -78.0
        timezone:
          type: string
          description: Local IANA time zone
          example: America/New_York
        data:
          type: array
          items:
            $ref: '#/components/schemas/FCMinutelyOb'
    FCMinutelyOb:
      type: object
      properties:
        timestamp_utc:
          type: string
          description: Full time (UTC) of forecast point (YYYY-MM-DD HH:MM)
          example: 2017-03-15 13:11
        timestamp_local:
          type: string
          description: Full local time of forecast point (YYYY-MM-DD HH:MM)
          example: 2017-03-15 13:11
        ts:
          type: number
          description: Unix Timestamp
          example: 1551718800
        precip:
          type: number
          description: Precipitation rate - Default (mm/hr)
          example: 2.0
        temp:
          type: number
          description: Temperature - Default (C)
          example: 13.85
        snow:
          type: number
          description: Snowfall rate - Default (mm/hr)
          example: 10.0
